body {
  margin: 0;
  background: #222;
  overflow: hidden;
  touch-action: none;
}

canvas {
  display: block;
  background: url('background.png') repeat;
}

#joystick {
  position: absolute;
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  touch-action: none;
  z-index: 10;
}

#stick {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 30px;
  left: 30px;
  background: rgba(255,255,255,0.4);
  border-radius: 50%;
  transition: 0s; /* 움직일 때 부드럽게 복귀 */
}

#autohunt {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 15px 20px;
  background: rgba(255,255,255,0.3);
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 10;
}
